<!DOCTYPE html>
<html lang="no">
<head>
  <meta charset="UTF-8">
  <title>Rever</title>
  <style>
    .container { 
        display: flex; 
        justify-content: center; 
        gap: 40px; 
        margin-top: 50px; 
    }

    h1 {
      margin-top: 150px;
    }

    img { 
        width: 250px; 
        border-radius: 10px; 
    }

    button { 
        margin-top: 10px; 
        padding: 10px; 
        cursor: pointer;
    }

    button:focus {
        outline: 3px solid #000;
        outline-offset: 2px;
    }
  </style>
  <link rel="stylesheet" href="/main.css">
</head>
<body>
    <%- include('templates/nav') %>
    <main>
      <h1 id="main-heading">Hvilken rev er søtest?</h1>
      <section class="container" aria-labelledby="main-heading">
        <div class="card">
          <img src="https://randomfox.ca/images/<%= fox1 %>.jpg" alt="Bilde av rev nummer <%= fox1 %>">
          <form action="/vote" method="POST">
            <input type="hidden" name="foxId" value="<%= fox1 %>">
            <button type="submit">Velg denne reven</button>
          </form>
        </div>

        <div class="card">
          <img src="https://randomfox.ca/images/<%= fox2 %>.jpg" alt="Bilde av rev nummer <%= fox2 %>">
          <form action="/vote" method="POST">
            <input type="hidden" name="foxId" value="<%= fox2 %>">
            <button type="submit">Velg denne reven</button>
          </form>
        </div>
      </section>
      <% if (voted) { %>
        <p role="status" aria-live="polite" style="color: green; font-size: 22px; font-weight:bolder;"> Du stemte på rev nr <%= voted %> </p>
      <% } %>
    </main>
</body>
</html>